@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: antiquewhite;  
}

header h1 {
    padding: 10px;
    font-size: 40px;
}

.tabela1 {  
    padding: 10px 100px 10px 100px;    	    
}

.tabela1 tr, td {
    width: 40px;   
    height: 40px;
    border-radius: 10%;      
    transition: 0.2s;    
}

td:hover {
    border: 1px solid black;
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px black;
    transform: scale(1.5);        
}

td > a > div > p {
    display: none;
}

td:hover a > div > p {
    display: flex;   
}

div {    
    margin: 10px 50px 0px 10px;     
    font-size: 10px;         
}

h1 {
    text-align: center;
    font-size: 25px;    
}

p {
    text-align: center;
    font-size: 10px;    
}

a {
    text-decoration: none;    
}

#none {
    border: none;
    box-shadow: none;
    transform: none;
}

caption {
    padding-left: 10px;
    font-size: 15px;
    text-align: left;        
}

footer {
    margin: 20px 0px 0px 80px;
}

footer tr, td {        
    height: 10px;
    width: 170px;  
    font-size: 15px;
    text-align: center;
    align-items: center;           
}

.yellowgreen {
    background-color: yellowgreen;
}

.orange {
    background-color: orange;    
}

.gold {
    background-color: gold;
}

.salmon {
    background-color: salmon;
}

.lightseagreen {
    background-color: lightseagreen;
}

.lightsteelblue {
    background-color: lightsteelblue;
}

.skyblue {
    background-color: skyblue;
}

.lightblue {
    background-color: lightblue;
}

.dodgerblue {
    background-color: dodgerblue;
}

.pink {
    background-color: pink;
}